<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <!-- 批量新增菜品口味  -->
    <insert id="saveBatch">
        insert into dish_flavor(dish_id, name, value) values
        <!-- collection = "方法里形参名 可以精准获取"  item = "别名"-->
        <foreach collection="flavors" item="df" separator=",">
            (#{df.dishId}, #{df.name}, #{df.value})
        </foreach>
    </insert>

    <!-- 修改菜品口味 -->
    <update id="updateFlavor">
        update dish_flavor
        <set>
            <if test="dishId != null">
                dish_id = #{dishId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="value != null">
                value = #{value}
            </if>
        </set>
        where dish_id = #{dishId}
    </update>

    <!-- 根据id批量删除 flavor -->
    <delete id="deleteByIds">
        delete from dish_flavor where dish_id in
        <foreach collection="dishId" open="(" close=")" separator="," item="did">
            #{did}
        </foreach>
    </delete>

    <!-- 根据单个id删除口味信息 -->
    <delete id="deleteById">
        delete from dish_flavor where dish_id = #{dishId}
    </delete>

    <!-- 根据dishId 查询口味信息 -->
    <select id="queryFlavorById" resultType="com.sky.entity.DishFlavor">
        select * from dish_flavor where dish_id = #{dishId}
    </select>

    <!--    &lt;!&ndash; 根据dishId 查询套餐信息 &ndash;&gt;-->
<!--    <select id="queryByIds" resultType="com.sky.entity.DishFlavor">-->
<!--        select * from dish_flavor where dish_id in-->
<!--        <foreach collection="ids" open="(" close=")" separator="," item="fla">-->
<!--            #{fla}-->
<!--        </foreach>-->
<!--    </select>-->
</mapper>