<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.sky.mapper.DishMapper">

    <!-- 新增口味 -->
    <insert id="saveFlavor">

    </insert>
    <!-- 新增菜品 要主键回显 分配的菜品id (Dish类里的id == dishId)
         useGeneratedKeys="true" 开启主键回显
         keyProperty="id" 将回显的主键赋值给 id属性
    -->
    <insert id="saveDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(id, name, category_id, price, image, description, status, create_time, update_time,
        create_user, update_user)
        values(default, #{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime},
        #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!-- 起售或停售商品 -->
    <update id="updateDishStatus">
        update dish set status = #{status}
        where id = #{id}
    </update>

    <!-- 修改菜品基本信息 -->
    <update id="updateDishBaseInfo">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <!-- 这里必须添加修改时间和修改用户 否则实体有数据 但数据没有写入数据库!!! -->
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" open="(" close=")" separator="," item="d">
            #{d}
        </foreach>
    </delete>


    <!-- 查询 id 菜品-->
    <select id="queryById" resultType="com.sky.entity.Dish">
        select * from dish
        where id = #{id}
        <!-- Dish菜品里的 id 就是其他表里的dishId -->
    </select>


    <!-- 菜品分页查询 -->
    <select id="dishPageQuery" resultType="com.sky.vo.DishVO">
        SELECT d.*, c.name category_name FROM dish d LEFT JOIN category c ON d.category_id = c.id
        <where>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="name != null">
                and c.name like concat('%',#{name} , '%')
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        <!-- 根据价格降序排序 -->
        order by price asc
    </select>

    <!-- 根据分类categoryId 查询是否绑定了菜品 -->
    <select id="queryByCategoryId" resultType="com.sky.entity.Dish">
        select * from dish
        where category_id = #{categoryId} and status = 1;
    </select>

    <!-- 多表联查 获取categoryName -->
    <select id="queryCategoryName" resultType="java.lang.String">
        select name from category
            where id = #{categoryId}
    </select>
</mapper>