<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <!-- 批量新增菜品口味  -->
    <insert id="saveBatch">
        insert into dish_flavor(dish_id, name, value) values
        <!-- collection = "方法里形参名 可以精准获取"  item = "别名"-->
        <foreach collection="flavors" item="df" separator=",">
            (#{df.dishId}, #{df.name}, #{df.value})
        </foreach>
    </insert>

    <!-- 根据id批量删除 flavor -->
    <delete id="deleteByIds">
        delete from dish_flavor where dish_id in
        <foreach collection="dishId" open="(" close=")" separator="," item="did">
            #{did}
        </foreach>
    </delete>

<!--    &lt;!&ndash; 根据dishId 查询套餐信息 &ndash;&gt;-->
<!--    <select id="queryByIds" resultType="com.sky.entity.DishFlavor">-->
<!--        select * from dish_flavor where dish_id in-->
<!--        <foreach collection="ids" open="(" close=")" separator="," item="fla">-->
<!--            #{fla}-->
<!--        </foreach>-->
<!--    </select>-->
</mapper>