<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.sky.mapper.OrderMapper">
    <!-- 插入一条订单数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders(number, status, user_id, address_book_id, order_time,
                           checkout_time, pay_method, pay_status, amount, remark,
                           phone, address, user_name, consignee, cancel_reason,
                           rejection_reason, cancel_time, estimated_delivery_time, delivery_status, delivery_time,
                           pack_amount, tableware_number, tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime},
                #{checkoutTime}, #{payMethod}, #{payStatus}, #{amount}, #{remark},
                #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason},
                #{rejectionReason}, #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime},
                #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>
    <!-- 更新订单状态 -->
    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 派送 -->
    <update id="deliveryOrder">
        update orders set delivery_status = 1, status = 4
        where id = #{id}
    </update>

    <select id="pageHistoryOrders" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by order_time desc
    </select>

    <!-- 管理端分页查询 -->
    <select id="pageUserOrders" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null">
                and number = #{number}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>
    <select id="getOrderStatusAmount" resultType="com.sky.vo.OrderStatisticsVO">
        SELECT
        SUM(CASE WHEN status = '2' THEN 1 ELSE 0 END) AS toBeConfirmed,
        SUM(CASE WHEN status = '3' THEN 1 ELSE 0 END) AS confirmed,
        SUM(CASE WHEN status = '4' THEN 1 ELSE 0 END) AS deliveryInProgress
        FROM orders
        WHERE status IN ('2', '3', '4');
    </select>

    <!-- 商家取消订单 并且 添加理由 设置取消时间-->
    <update id="AdminCancelReason">
        update orders set status = 6, cancel_reason = #{cancelReason}, cancel_time = current_time
        where id = #{id}
    </update>

    <!-- 完成订单 -->
    <update id="completeOrder">
        update orders set status = 5, delivery_time = current_time
        where id = #{id}
    </update>

    <!-- 商家拒单  status == 6  -->
    <update id="rejectOrder">
        update orders set status = 6, rejection_reason = #{rejectionReason}
        where id = #{id}
    </update>

    <!-- 对超时且未付款的订单进行相关信息的修改 批量修改 这里采用 &lt; 代替 < -->
    <update id="dealNoPayOrderBatch">
        update orders set status = 7, cancel_time = now(),
        cancel_reason = "付款时间超时,订单已取消!"
        where status = #{status} and order_time &lt; #{time}
    </update>

    <!-- 对前一天里正在配送的订单的信息进行修改 -->
    <update id="dealDeliveryOrderBatch">
        update orders set status = 5, delivery_status = 1,
        delivery_time = now()
        where status = #{status} and
        order_time between #{beforeTime} and #{afterTime}
    </update>
</mapper>
